<!-- Achievement Section -->
<div id="achievement-section">
  <div class="section-heading">
        <div class=" section-heading-edit {{#design.style_options.primary_color}}{{design.style_options.primary_color}}{{/design.style_options.primary_color}} {{#design.style_options.heading_font}}{{design.style_options.heading_font}}{{/design.style_options.heading_font}}">
          {{#labels.achievement}}{{labels.achievement}}{{/labels.achievement}}
          {{^labels.achievement}}Achievements{{/labels.achievement}}
        </div>
  </div>

  <div class="achievements">
    {{#each achievements}}
      <div class="achievement-item">

        <!--<i class="fa fa-diamond icon {{#design.style_options.secondary_color}}{{design.style_options.secondary_color}}{{/design.style_options.secondary_color}}"></i>-->
        <i class="fa {{icon}} icon {{#design.style_options.secondary_color}}{{design.style_options.secondary_color}}{{/design.style_options.secondary_color}}"></i>
        <div class="single-achievement">

          <div class="achievement-label">
                <div class=" achievement-label-edit {{#design.style_options.primary_color}}{{design.style_options.primary_color}}{{/design.style_options.primary_color}} {{#design.style_options.sub_heading_font}}{{design.style_options.sub_heading_font}}{{/design.style_options.sub_heading_font}}">
                  {{#if label}}
                    {{label}}
                  {{else}}
                    What are you most proud of?
                  {{/if}}
                </div>
          </div>
          <div class="achievement-details">
                <div class=" achievement-details-edit {{#design.style_options.secondary_color}}{{design.style_options.secondary_color}}{{/design.style_options.secondary_color}} {{#design.style_options.body_font}}{{design.style_options.body_font}}{{/design.style_options.body_font}}">
                  {{#if detail}}
                    {{detail}}
                  {{else}}
                    A bit about your achievement
                  {{/if}}
                </div>
          </div>


        </div>

      </div>
    {{/each}}
    <!-- Below is Placeholders for added but empty section -->
    <!--{{^achievement}}
      <div class="achievement-item">

        <i class="fa fa-diamond icon {{#design.style_options.secondary_color}}{{design.style_options.secondary_color}}{{/design.style_options.secondary_color}}"></i>

        <div class="single-achievement">

          <div class="achievement-label">
                <div class=" achievement-label-edit {{#design.style_options.primary_color}}{{design.style_options.primary_color}}{{/design.style_options.primary_color}} {{#design.style_options.sub_heading_font}}{{design.style_options.sub_heading_font}}{{/design.style_options.sub_heading_font}}">
                    What are you most proud of?
                </div>
          </div>
          <div class="achievement-details">
                <div class=" achievement-details-edit {{#design.style_options.secondary_color}}{{design.style_options.secondary_color}}{{/design.style_options.secondary_color}} {{#design.style_options.body_font}}{{design.style_options.body_font}}{{/design.style_options.body_font}}">
                    A bit about your achievement
                </div>
          </div>


        </div>

      </div>
    {{/achievement}}-->
  </div>
</div>


<!-- Achievement Section end -->